html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background: linear-gradient(135deg, #f06, #48f);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.container {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

.form-control {
  border-radius: 20px;
}

.btn {
  border-radius: 20px;
}